@use "../utilities/variables" as *;

.header {
    grid-area: header;
    background-color: $color-header;
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid $color-acento;

    .navbar {
        width: 100%;
        padding: 12px 16px;
        background-color: $color-navbar;
    }

    img {
        width: 120px;
        height: auto;
    }

    @media (min-width: $bp-desktop) {
        .navbar {
            padding: 28px 32px;
        }

        img {
            width: 180px;
        }
    }
}
